<%= render(NavbarComponent.new) %>

<div class='container my-20 mx-auto'>
  <%= render(CardComponent.new) do %>
    <%= render partial: 'attempt_form' unless @game.ended? %>
    <%= render partial: 'attempts' unless @game.ended? %>

    <%= render partial: 'ended' if @game.ended? %>
<% end %>
</div>
